.button {
  border: 1px solid #333;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  color: #333;
  transition: opacity 0.3s ease-in-out;

  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--brown {
  border: none;
  color: #fff;
  background-color: #b59571;
}

.button--info {
  padding: 15px 30px;
}

.button--light {
  border-color: #fff;
  color: #fff;
}
