.contacts {
  position: relative;
  grid-column: 12 span;
  /* stylelint-disable-next-line order/properties-order */
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1296px;
}

.contacts__title {
  grid-column: 1/3;
  /* stylelint-disable-next-line order/properties-order */
  display: flex;
  align-items: center;
  gap: 30px;

  &::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #b59571;
  }
}

.contacts__list {
  grid-column: 1/5;
  grid-row: 3/5;
  /* stylelint-disable-next-line order/properties-order */
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  /* stylelint-disable-next-line order/properties-order */
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 420px;
  gap: 24px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.contacts__item-title {
  display: flex;
  align-items: first baseline;
  margin: 0;
  color: #b59571;
  gap: 15px;
}

.number {
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
}

.text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}

.contacts__map {
  grid-column: 6/-1;
  grid-row: 2/6;
  width: 100%;
  height: 450px;
}

.contacts__sticker {
  grid-column: 5/9;
  /* stylelint-disable-next-line order/properties-order */
  position: absolute;
  top: 25%;
  padding: 40px;
  background-color: #5b5b5b;
}

.contacts__sticker-address {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 21px;
  width: 336px;
  font-weight: 400px;
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  color: #fff;
  gap: 15px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../img/pin-icon.svg");
  }
}

.contacts__sticker-phone {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400px;
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  color: #fff;
  gap: 15px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../img/phone-icon.svg");
  }
}

.contacts__time-work-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.contacts__time-work-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  gap: 15px;
}

.contacts__time-work-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  color: #fff;
}

.contacts__time-work-item time {
  font-weight: 400;
}

.contacts__sticker-buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.contacts__sticker-button {
  flex-shrink: 0;
}
