.fixed-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  width: 120px;
  height: 100vh;
  background-color: #333;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.open-menu {
  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.social-item {
  padding: 0;
}

.social-link {
  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-icon {
  width: 40px;
  height: 40px;
  fill: #b59571;
}
