.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0 40px;
  background-color: #333;
  gap: 437px;
}

.policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #fff;
}

.autor-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #fff;
}
