.header-catalog {
  margin: 0 auto;
  padding: 0 312px;
}

.header-catalog__container {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  padding: 32px 0;
  max-width: 100% - 1920 * 2;
}

.header-catalog__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.header-catalog__item {
  margin: 0;
  padding: 0;
}

.header-catalog__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #333;
  transition: opacity 0.5s ease-in-out;

  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-catalog__link-icon {
  width: 26px;
  height: 26px;
}
