.hero {
  margin-bottom: 150px;
  padding-top: 700px;
  width: 100%;
  height: 1000px;
  background:
    url("../../img/hero-bcg.jpg"),
    #888273;
}

.hero__title {
  margin: 0;
  margin-left: 422px;
  max-width: 900px;
  font-weight: 700;
  font-size: 54px;
  line-height: 75.6px;
  color: #fff;
}
