.info {
  margin: 0 auto;

}

.info__container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  row-gap: 150px;
  margin: 0 auto;
  max-width: 1296px;
}

.info__item {
  grid-column: 1/11;
  /* stylelint-disable-next-line order/properties-order */
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 150px;
  row-gap: 80px;
}

.info__item-title {
  grid-column: 1/3;
  grid-row: 1;
  /* stylelint-disable-next-line order/properties-order */
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  gap: 30px;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #b59571;
  }
}

.info__item-content {
  grid-column: 3/11;
  grid-row: 2;
  /* stylelint-disable-next-line order/properties-order */
  display: flex;
  align-self: self-end;
  max-width: 848px;
  gap: 134px;

  &--delivery {
    gap: 24px;
  }
}

.info__item-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
}

.descr-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--delivery {
    gap: 60px;
  }
}

.info__descr {
  margin: 0;
  font-size: 18px;
  line-height: 25.2px;
}

.figure {
  grid-column: 3/11;
  grid-row: 3;
  /* stylelint-disable-next-line order/properties-order */
  display: flex;
  align-self: flex-end;
  gap: 24px;
}

.figure__item {
  margin: 0;
}

.figure__border {
  border: 1px solid #333;
  padding: 40px 40px 0;
}

.figure__image {
  margin-bottom: -40px;
}

.figure__descr {
  display: flex;
  align-items: center;
  margin-top: 64px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  gap: 30px;

  &::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #b59571;
  }
}

.info__button {
  display: flex;
  gap: 30px;
}
