<section class="cards">
  <h1 class="visually-hidden">Меню ресторана</h1>
  <header class="cards__header">
    <ul class="cards__nav-list">
      <li class="cards__nav-item"><a href="#" class="cards__nav-link cards__nav-link--current">Завтраки</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Raw</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Холодные закуски</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Брускеты</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">К вину</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Салаты</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Супы</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Паста и ризотто</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Мясо</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Рыба</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Grill</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Мангал</a></li>
      <li class="cards__nav-item"><a href="#" class="cards__nav-link">Гарниры</a></li>
    </ul>

    <ul class="cards__list">
      <li class="cards__item">
        <img class="cards__image" src="../img/card-1.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Яичница-глазунья из трех яиц</h3>
        <span class="cards__coast">250 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-2.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Омлет из трёх яиц</h3>
        <span class="cards__coast">250 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-3.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Домашние сырники</h3>
        <span class="cards__coast">490 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-4.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Блины</h3>
        <span class="cards__coast">от 190 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-5.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Каша c ягодами и кедровыми орехами</h3>
        <span class="cards__coast">450 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-6.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Скрэмбл</h3>
        <span class="cards__coast">290 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-7.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Яйцо Бенедикт с лососем</h3>
        <span class="cards__coast">850 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-8.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Яйцо Бенедикт с беконом</h3>
        <span class="cards__coast">650 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-9.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Гречневая каша с авокадо, яйцом пашот и пармезаном</h3>
        <span class="cards__coast">490 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-10.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Кобб – салат с лососем</h3>
        <span class="cards__coast">890 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
      <li class="cards__item">
        <img class="cards__image" src="../img/card-11.jpg" alt="Яичница">
        <h3 class="cards__subtitle">Кобб – салат с креветками</h3>
        <span class="cards__coast">960 ₽</span>
        <a class="cards__button button button--brown" href="#">В корзину</a>
      </li>
    </ul>
  </header>
</section>
