<section class="cards">
  <header class="cards__header">
    <ul class="cards__nav-list">
      <li class="cards__item"><a href="" class="cards__nav-link cards__nav-link--current">Завтраки</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link"></a>Raw</li>
      <li class="cards__item"><a href="" class="cards__nav-link">Холодные закуски</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Брускеты</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">К вину</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Салаты</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Супы</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Паста и ризотто</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Мясо</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Рыба</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Grill</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Мангал</a></li>
      <li class="cards__item"><a href="" class="cards__nav-link">Гарниры</a></li>
    </ul>
  </header>
</section>
