<section class="contacts">
  <h2 class="contacts__title">Контакты</h2>

  <ul class="contacts__list">
    <li class="contacts__item">
      <p class="contacts__item-title"><span class="number">2</span><span class="text">мин</span>
      </p>
      <p class="contacts__item-descr">из центра<br> Санкт-Петербурга</p>
    </li>
    <li class="contacts__item">
      <p class="contacts__item-title"><span class="number">12</span><span class="text">мин</span>
      </p>
      <p class="contacts__item-descr">из города<br> Зеленогорск</p>
    </li>
    <li class="contacts__item">
      <p class="contacts__item-title"><span class="number">42</span><span class="text">мин</span>
      </p>
      <p class="contacts__item-descr">из аэропорта<br> Пулково</p>
    </li>
    <li class="contacts__item">
      <p class="contacts__item-title"><span class="number">52</span><span class="text">мин</span>
      </p>
      <p class="contacts__item-descr">из города<br> Павловск</p>
    </li>
  </ul>
  <iframe class="contacts__map"
    src="https://yandex.ru/map-widget/v1/?ll=30.253290%2C59.963129&mode=whatshere&whatshere%5Bpoint%5D=30.249066%2C59.963327&whatshere%5Bzoom%5D=17&z=16.54">
  </iframe>
  <div class="contacts__sticker">
    <address>
      <p class="contacts__sticker-address">Санкт-Петербург,
        Северная дорога, 11</p>
    </address>
    <address><a class="contacts__sticker-phone" href="tel:+77777777777">+7(777)777-77-77</a></address>
    <h3 class="contacts__time-work-title">Время работы</h3>
    <ul class="contacts__time-work-list">
      <li class="contacts__time-work-item">Вск-Чт: с <time>12:00</time> до <time>23:00</time></li>
      <li class="contacts__time-work-item">Пт-Сб: с <time>12:00</time> до <time>03:00</time></li>
    </ul>
    <div class="contacts__sticker-buttons">
      <a href="#" class="contacts__sticker-button button button--brown">Бронь столика</a>
      <a href="#" class="contacts__sticker-button button button--light">Задать вопрос</a>
    </div>



  </div>

</section>
