<div class="fixed-menu">
  <div class="fixed-menu__top">
    <a href="#" class="logo">
      <img class="logo-img" src="../img/logo.svg" alt="Логотип Ресторана">
    </a>
    <a href="#" class="open-menu">
      <img class="open-menu-img" src="../img/gg_menu.svg" alt="Логотип Ресторана">
    </a>
  </div>
  <ul class="social-list">
    <li class="social-item"><a href="#" class="social-link">
      <svg class="social-icon">
        <use xlink:href="img/sprite.svg#icon-youtube" xmlns="http://www.w3.org/2000/svg"></use>
      </svg>
    </a></li>
    <li class="social-item"><a href="#" class="social-link">
      <svg class="social-icon">
        <use xlink:href="img/sprite.svg#icon-vk" xmlns="http://www.w3.org/2000/svg"></use>
      </svg>
    </a></li>
    <li class="social-item"><a href="#" class="social-link">
      <svg class="social-icon">
        <use xlink:href="img/sprite.svg#icon-telegram" xmlns="http://www.w3.org/2000/svg"></use>
      </svg>
    </a></li>
  </ul>
</div>
