<header class="header-catalog">
  <div class="header-catalog__container">
    <ul class="header-catalog__list">
      <li class="header-catalog__item"><a href="" class="header-catalog__link">Личный кабинет</a></li>
      <li class="header-catalog__item"><a href="#" class="header-catalog__link" aria-label="Пользователь">
          <svg class="header-catalog__link-icon">
            <use xlink:href="img/sprite.svg#user-icon-rest" xmlns="http://www.w3.org/2000/svg"></use>
          </svg>
        </a></li>
      <li class="header-catalog__item"><a href="" class="header-catalog__link" aria-label="Корзина">
          <svg class="header-catalog__link-icon">
            <use xlink:href="img/sprite.svg#basket-rest" xmlns="http://www.w3.org/2000/svg"></use>
          </svg>
        </a></li>
    </ul>
  </div>
</header>
