<section class="info">
  <div class="info__item">
    <h2 class="info__item-title">о ресторане</h2>
    <div class="info__item-content">
      <h3 class="info__item-subtitle">Food Exxe Relo</h3>
      <div class="descr-container">
        <p class="info__descr">Sed vel ornare ut rhoncus, ac ut nibh. Amet at sit et nibh. In lectus phasellus non
          ornare eget velit. Facilisi urna, tristique dui, rhoncus, dolor. Tincidunt enim gravida dignissim leo pulvinar
          sit volutpat nulla vestibulum.</p>
        <p class="info__descr">Morbi pellentesque enim massa laoreet vel id. Lectus ac, facilisis neque turpis. Morbi
          massa enim nullam sem
          vehicula. Amet quis pellentesque enim porttitor lectus interdum. Nisi, faucibus pharetra at porttitor.
          Fringilla luctus pretium in viverra. In adipiscing tempor amet malesuada ullamcorper ut sagittis. Dui,
          scelerisque vulputate risus massa dictum. Cras at quis in eu, faucibus feugiat vel. At.</p>
      </div>
    </div>
  </div>
  <div class="info__item">
    <h2 class="info__item-title">меню</h2>
    <div class="info__item-content">
      <h3 class="info__item-subtitle">Меню</h3>
      <div class="descr-container">
        <p class="info__descr">At faucibus nullam mauris vitae ut non. Augue libero non nibh nec, et eget erat. Nascetur
          nunc neque, varius massa aliquam interdum turpis massa. Ac tortor aliquam risus, interdum nisl mauris sit. Ut
          placerat fermentum pellentesque ac at. Vitae venenatis faucibus urna mi eget vitae quam eu. Euismod sed mauris
          id turpis iaculis. Erat rutrum dolor, vitae morbi.</p>
        <p class="info__descr">Nunc cras cras aliquet blandit faucibus massa sagittis semper.</p>
      </div>
    </div>
    <div class="figure">
      <figure class="figure__item">
        <div class="figure__border">
          <img class="figure__image" src="../img/foto-menu.jpg" alt="Фотография меню." />
        </div>
        <figcaption class="figure__descr">Основное меню</figcaption>
      </figure>
      <figure class="figure__item">
        <div class="figure__border">
          <img class="figure__image" src="../img/foto-bar-card.jpg" alt="Фото барной карты." />
        </div>
        <figcaption class="figure__descr">Барная карта</figcaption>
      </figure>
    </div>
  </div>
  <div class="info__item">
    <h2 class="info__item-title">доставка</h2>
    <div class="info__item-content info__item-content--delivery">
      <h3 class="info__item-subtitle">Служба доставки</h3>
      <div class="descr-container">
        <p class="info__descr">Phasellus diam, ultrices lobortis integer et. Diam, purus vel sagittis, non, a. In risus,
          venenatis enim vitae mauris aliquet orci. Consectetur nibh interdum nullam ut lobortis eu etiam sem. Et in
          vitae pellentesque non, lectus orci natoque faucibus suspendisse. Semper aliquam id et ultrices velit donec
          lacus. In odio sit nibh volutpat cras placerat sit feugiat dignissim. Rutrum et suspendisse tortor, lobortis
          eleifend in fringilla. Egestas cursus imperdiet cursus dui, nulla id massa. Hendrerit nam enim semper
          porttitor imperdiet diam semper. Nulla sit etiam cras morbi enim elementum euismod sapien.</p>
        <div class="info__button">
          <a class="button button--brown button--info" href="#">Подробрее</a>
          <a class="button button--info" href="#">Условия доставки</a>
        </div>
      </div>
    </div>
  </div>
</section>
